*{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: #554D3B;
    height: 100px;
    width: 100%;
}
.logo2{
    width: 138px;
    height: 30px;
    padding: 35px;
}

.phone{
    margin-top: -5%;
    color: #756952;
    margin-left: 245px;
    position: absolute;
   }
.phone h6{
    margin-top: -20%;
    margin-left:60px ; 
    font-family:Segoe UI , sans-serif ;
}
.mail{
    margin-top:-5%;
    margin-left: 34%;
    position: absolute;
    color: #756952;
}
.mail h6{
    margin-top: -15%;
    margin-left:60px ; 
    font-family:Segoe UI , sans-serif ; 
}
.menu{
    float: right;
    line-height: 80px;
  }
  .menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    font-family:Segoe UI , sans-serif ;
  }
  .show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
    font-family: open sans-serif;
  }
  .show-menu-btn{
    float: right;
  }
  .show-menu-btn i{
    line-height: 100px;
  }
  .menu a:hover,
  .show-menu-btn:hover,
  .hide-menu-btn:hover{
    color: #D6D082;
  }
  
  #chk{
    position: absolute;
    visibility: hidden;
    z-index: 99999;
  }
.promoA{
    display: flex;
    margin-top: 5% ; 
}
.promoB{
    display: flex;
    margin-top:5% ;
} 
.promo1{
    border: 1px solid black;
    height: 493px;
    width:25%;
    background-color: whitesmoke;
    margin-left: 15%;
    box-shadow: 5px 10px 8px 10px #888888;
}

.promo1 h5{
    font-family: Segoe UI , sans-serif;
    color: #707070;
    margin-left: 2%;
    margin-top: 2%;
    position: relative;
}
.promo1 h6{
    font-family: Segoe UI , sans-serif;
    color: #357AB4;
    margin-left: 3%;
    margin-top: -1.5%;
    position: absolute;
}
.map{
    margin-left: 1%;
    margin-top: -2%;
    height: 26px;
    width: 1%;
    position: absolute;
}

.promo2{
    border: 1px solid black;
    height: 493px;
     width: 25%;
     background-color: whitesmoke;
     margin-left: 15%;
     box-shadow: 5px 10px 8px 10px #888888;
}
.promo2 h5{
    font-family: Segoe UI , sans-serif;
    color:#707070;
    margin-left: 2%;
}
.promo2 h6{
    font-family: Segoe UI , sans-serif;
    color: #357AB4;
    margin-left: 3%;
    margin-top: -1.5%;
    position: absolute;
}
.map{
    margin-left: 1%;
    margin-top: -2%;
    height: 26px;
    width: 1%;
    position: absolute;
}
.promo3{
    border: 1px solid black;
    height: 493px;
     width: 25%;
     background-color: whitesmoke;
     margin-left: 15%;
     box-shadow: 5px 10px 8px 10px #888888;
}
.promo3 h5{
    font-family: Segoe UI , sans-serif;
    color:#707070;
    margin-left: 2%;
}
.promo3 h6{
    font-family: Segoe UI , sans-serif;
    color: #357AB4;
    margin-left: 3%;
    margin-top: -1.5%;
    position: absolute;
}
.map{
    margin-left: 1%;
    margin-top: -2%;
    height: 26px;
    width: 1%;
    position: absolute;
}
.promo4{
    border: 1px solid black;
    height: 493px;
    width: 25%;
    background-color: whitesmoke;
    margin-left: 15%;
    box-shadow: 5px 10px 8px 10px #888888;
}
.promo4 h5{
    font-family: Segoe UI , sans-serif;
    color:#707070;
    margin-left: 2%;
}
.promo4 h6{
    font-family: Segoe UI , sans-serif;
    color: #357AB4;
    margin-left: 3%;
    margin-top: -1.5%;
    position: absolute;
}
.map{
    margin-left: 1%;
    margin-top: -2%;
    height: 26px;
    width: 1%;
    position: absolute;
}
.bor{
    height: 25%;
    width: 40%;
    position: absolute;
    background-color: red;
    bottom: 0;
    right: 0;
    }
.bor h6{
font-family: Segoe UI, sans-serif;
color: #FFFFFF;
}
.bor h4{
    font-family: Segoe UI, sans-serif;
    color: #FFFFFF;
    margin-top: 10%;
    }
    .divsfooter {
        width: 90%;
        height: 250px;;
        margin-left: 4pc;
        margin-top: 22px;
        display: flex;
    }
    .divsfooter div {
        width: 25%;
        height: 100%;
        text-align: center;
    }
    .divsfooter div:nth-of-type(1) P {
        font-size: 15px;
        position: relative;
        left: 25%;
        color: #688095;
        top: 15px;
        width: 215px;
    }
    .divsfooter div:nth-of-type(1) span {
        border: 1px solid #EFD6AC;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-block;
        margin-top: 20px;
        margin-left: 20px;
        color: #EFD6AC;
    }
    .divsfooter div:nth-of-type(2) h1 {
        font-size: medium;
        color: #688095;
        margin-bottom: 20px;
    }
    .divsfooter div:nth-of-type(2) p {
        color: #AAA9A9;
    }
    .divsfooter div:nth-of-type(3) h1 {
        font-size: medium;
        color: #688095;
        margin-bottom: 20px;
    }
    .divsfooter div:nth-of-type(3) p {
        color: #AAA9A9;
    }
    .divsfooter div:nth-of-type(4) h1 {
        font-size: medium;
        color: #688095;
        margin-bottom: 20px;
    }
    .divsfooter div:nth-of-type(4) p {
        color: #AAA9A9;
        margin-bottom: 50px;
    }
    .divsfooter div:nth-of-type(4) pre:nth-of-type(1) {
        display: inline;
        color: #2C4458;
        font-weight: bold;
    }
    .divsfooter div:nth-of-type(4) pre:nth-of-type(2) {
        display: inline;
        margin-left: 10px;
        color: #688095;
    }
    .chfooter {
        display: block;
        background-color: #688095;
        color: #CCCCCC;
        margin-top: 4%;
    }
    .chfooter p:nth-of-type(1) {
        margin: 10px 0px 0px 150px;
        position: absolute;
    }
    .chfooter p:nth-of-type(2) {
        margin: 10px;
        margin-left: 60%;
        white-space: nowrap;
        display: inline-block;
    }
    .b1{
        background-image: url(Ph_pack_356614963_14704.jpg);
        background-position: center;
        height: 60%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover ;
        position: relative;
        
    }
    .b2{
        background-image: url(IFRANE.jpg);
        background-position: center;
        height: 60%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover ;
        position: relative;
        
    }
    .b3{
        background-image: url(IFRANE2.jpg);
        background-position: center;
        height: 60%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover ;
        position: relative;
        
    }
    .b4{
        background-image: url(monument_361843_pgbighd.jpg);
        background-position: center;
        height: 60%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover ;
        position: relative;
        
    }
    @media (max-width:1024px){
        .promoA{
            display: block;
            margin-left: 40%;
          
        }
        .promoB{
            display: block;
            margin-left: 40%;
          
        }
        .promo1{
                border: 1px solid black;
                height: 500px;
                width:80%;
                background-color: whitesmoke;
                margin-left: -24%;
        }
        .promo2{
                border: 1px solid black;
                height: 500px;
                width:80%;
                background-color: whitesmoke;
                margin-left: -24%;
                margin-top: 10%;
        }
        .promo3{
            border: 1px solid black;
            height: 500px;
            width:80%;
            background-color: whitesmoke;
            margin-left: -24%;
    }
        .promo4{
        border: 1px solid black;
        height: 500px;
        width:80%;
        background-color: whitesmoke;
        margin-left: -24%;
        margin-top: 10%;
}
        .logo1{
            padding: 35px;
        }
       
            .phone{
                display: none;
            }
            .mail{
                display: none;
            }
            .maps h6{
                margin-left: 5%;
            }
            .show-menu-btn,.hide-menu-btn{
                display: block;
                padding: 33px;
              }
              .menu{
                position: fixed;
                width: 100%;
                height: 450px;
                background: #333;
                right: -100%;
                top: 0;
                text-align: center;
                padding: 80px 0;
                line-height: normal;
                transition: all 1s ease-out;
                z-index: 99;
              }
              .menu a{
                display: block;
                padding: 20px;
              }
              .hide-menu-btn{
                position: absolute;
                top: 40px;
                right: 40px;
              }
              #chk:checked ~ .menu{
                right: 0;
              }
              .divsfooter div:nth-of-type(1) h1 {
                left: 10%;
            }
            .divsfooter div:nth-of-type(1) P {
                left: 10%;
            }
            .divsfooter div:nth-of-type(1) span {
                display: none;
            }
            #dfooter4 h1 {
                left: 5pc;
            }
            #dfooter4 p {
                left: 5pc;
              
            }
            #dfooter4 pre {
                left: 5pc;
              
            }
            #f1 #dfooter1 {
         left: 15%;
        }
        #f1 #dfooter2 {
            left: 15%;
           }
           #f1 #dfooter3 {
            left: 15%;
           }
           #f1 #dfooter4 {
            left: 15%;
           }
    }
    